@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins {
    font-family: "Poppins", sans-serif;
}

@layer utilities {
  .animate-bounce-slow {
    animation: bounce-slow 3s infinite;
  }
  .animate-slide-up {
    animation: slide-up 0.8s ease-out forwards;
  }
  .animate-loading-bar {
    animation: loading-bar 2s ease-in-out forwards;
  }
}

@keyframes bounce-slow {
  0%, 100% { transform: rotate(45deg) translateY(-5%); }
  50% { transform: rotate(45deg) translateY(5%); }
}

@keyframes slide-up {
  0% { transform: translateY(100%); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes loading-bar {
  0% { width: 0%; }
  100% { width: 100%; }
}
